<div class="form-group">
    <label style="color: #1d3124" for="title">Title</label>
    <input type="text"  required name="title" id="title" class="form-control" value=<%=article.title%> >

</div>

<div class="form-group">
    <label for="description" style="color: #1d3124">Description</label>
    <textarea   name="description" id="description" class="form-control">
<%=article.description%>
    </textarea>

</div>

<div class="form-group">
<!--    <label for="markdown">Markdown</label>-->
<!--    <textarea required  name="markdown" id="markdown" class="form-control">-->
<!--<%=article.markdown%>-->
<!--    </textarea>-->

</div>

<a style="border-radius: 25px" href="/" class="btn btn-primary">Cancel</a>

<button  style="border-radius: 25px" type="submit" class="btn btn-primary">Save</button>
