<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Global Soft Support</title>
</head>
<body style="height: 1000%;
  background: radial-gradient(ellipse at bottom, #bacec1 0%, #bacec1 100%);
  " >




<div class="container"  >
    <br>
    <h1 class = "mb-4"  >Global Soft Support - How to Use</h1>
    <a style="position:fixed;
    right: 30px;
    background-color: #e59560;
    top: 30px;" href="/articles/index"  class="btn btn-success">Home</a>


    <div class="card mt-2" style="background-color: #f6f4e8">
        <div class="card-body">
        <h4 style="color: #1d3124"class=card-title">

            Are You Currently In A Rough Situation and Under Constant Pressure, and Want to Get Out of There?


        </h4>

        <div  class="card-subtitle text-muted mb-2">
            Just Make a new post on this website, and you just have to wait and see what others around the world have to say regarding your situation! Get free advice anonymously, and find out your way to freedom fast!

        </div>
        </div>

    </div>

    <div class="card mt-2" style="background-color: #f6f4e8">
        <div class="card-body">
        <h4 style="color: #1d3124"class=card-title">

            Do You Want to Help Someone Who Is Going Through Tough Times?


        </h4>
        <div  class="card-subtitle text-muted mb-2">
            Just by Replying to one post, you can help someone get a better life! All it takes is a good heart, and a couple of minutes!
            And you will help someone from anywhere in the world fight their challenges!!! Get started today!!

        </div>
        </div>
    </div>

</div>






</body>
</html>
